<div class="container">
                  <div class="row">
                    <div class="col-11"><input type="text" class="form-control" placeholder="Enter Keyword..." [(ngModel)]='query'></div>
                    <i (click)="getMovieSearch(query)" style="font-size: 40px;cursor: pointer;" class="material-icons col-1">
                        search
                        </i>
                    <!-- <div class="col-1"><img class="hovers" height="35" (click)="getMovieSearch(query)" src="https://img.icons8.com/metro/26/000000/search.png"></div> -->
                    <!-- <i class="material-icons">visibility</i> -->
                  </div>  
</div>
<div class="container mt-5" *ngIf="search_results&&query">
    <h3>Results for {{query}}</h3><hr><br>
    <div class="card p-5" style="box-shadow: 0px 0px 5px gray;">
        <!-- {{result.title}}</td><td></td><td>{{result.vote_average}}</td><td>{{result.vote_count}} -->

        <table class="table">
            <tr *ngFor="let result of search_results">
                
            <td>

            <span  style="float: left" class="pr-2" *ngIf="result.poster_path"><img height="60" width="50" src="{{image_url+result.poster_path}}"></span>
            <span style="float: left" class="pr-2" *ngIf="!result.poster_path"><img height="60" width="50" src="https://cdn-images-1.medium.com/max/104/1*I-RzA2sopZvV3P3pxnGxxQ@2x.png"></span>
            <h6 style="float: left">{{result.title+' '}}</h6>
            <h6  *ngIf="result.release_date">({{result.release_date | slice:0:4}})</h6>
            </td><td>
                    <img  style="float: left" height="60" width="70" src="https://www.pnglot.com/pngfile/detail/92-923556_free-icons-png-yellow-star-black-background.png">
            
                    <span><h5>{{result.vote_average}}</h5>Voted</span><span style="float: left" class="mr-2">{{result.vote_count}}</span>
            </td><td>
                <!-- <img (click)="postBookmark(result)" height="50" src="https://img.icons8.com/ios/50/000000/bookmark-ribbon.png"> -->
                <i *ngIf="!bookmarkedTrue(result)" (click)="postBookmark(result)" class="material-icons" style="font-size: 50px;cursor: pointer;">
                    turned_in_not
                    </i>
                    <i *ngIf="bookmarkedTrue(result)" (click)="postBookmark(result)" class="material-icons" style="font-size: 50px;cursor: pointer;">
                        turned_in
                        </i>
            </td>
        
        </tr>
        </table>
                
    </div>

</div>



<div class="container mt-5" *ngIf="!query||!search_results">
    <h3>Suggestions</h3><hr><br>
    
    <div class="card" style="box-shadow:0px 0px 5px grey; display: table-row;">
    <div *ngFor="let result of suggestions" style="float: left;">
        <div class="col-3 mt-5" *ngIf="result.poster_path">
            <div class="card w-140">
                <img height="120" width="124" src="{{image_url+result.poster_path}}">
                <div class="m-3">
                    <span>{{result.title+' '}} ({{result.release_date | slice:0:4}})</span><br>
                    <i *ngIf="!bookmarkedTrue(result)" (click)="postBookmark(result)" class="material-icons" style="font-size: 40px;cursor: pointer; float: left;">
                        turned_in_not
                        </i>
                        <i *ngIf="bookmarkedTrue(result)" (click)="postBookmark(result)" class="material-icons" style="font-size: 40px;cursor: pointer; float: left;">
                            turned_in
                            </i>
                    <img height="10" width="10" src="https://www.pnglot.com/pngfile/detail/92-923556_free-icons-png-yellow-star-black-background.png">{{result.vote_average}}
                    <br><br><span class="mr-2" style="clear: both;">{{result.vote_count}} Voted</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>