<div class="container">
                  <div class="row">
                    <div class="col-11"><input type="text" class="form-control" placeholder="Enter Keyword..." [(ngModel)]='query'><i class="fas fa-search"></i></div>
                    <div class="col-1"><img class="hovers" height="35" (click)="getMovieSearch(query)" src="https://img.icons8.com/metro/26/000000/search.png"></div>
                  </div>  
</div>
<div class="container mt-5" *ngIf="search_results">
    <h2>Results for {{query}}</h2>
    <div class="card">
        <!-- {{result.title}}</td><td></td><td>{{result.vote_average}}</td><td>{{result.vote_count}} -->

        <table class="table">
            <tr *ngFor="let result of search_results"><td>

            <span  style="float: left" class="pr-2" *ngIf="result.poster_path"><img height="60" width="50" src="{{image_url+result.poster_path}}"></span>
            <span style="float: left" class="pr-2" *ngIf="!result.poster_path"><img height="60" width="50" src="https://cdn-images-1.medium.com/max/104/1*I-RzA2sopZvV3P3pxnGxxQ@2x.png"></span>
            <h6 style="float: left">{{result.title+' '}}</h6>
            <h6  *ngIf="result.release_date">({{result.release_date | slice:0:4}})</h6>
            </td><td>
                    <img  style="float: left" height="60" width="70" src="https://www.pnglot.com/pngfile/detail/92-923556_free-icons-png-yellow-star-black-background.png">
            
                    <span><h5>{{result.vote_average}}</h5>Voted</span><span style="float: left" class="mr-2">{{result.vote_count}}</span>
            </td><td><img (click)="postBookmark(result)" height="50" src="https://img.icons8.com/ios/50/000000/bookmark-ribbon.png"></td>
        <!-- <td><img height="50" src="https://img.icons8.com/officel/80/000000/bookmark-ribbon.png"></td> -->
        </tr>
        </table>
                
    </div>

</div>


<div class="container mt-5" *ngIf="!search_results">
    <h2>Suggestions</h2>
    <div *ngFor="let result of suggestions" style="float: left;">
        <div class="col-3 mt-5">
            <div class="card" style="width: 240px;">
                <img height="200" width="240" src="{{image_url+result.poster_path}}">
                <div class="m-3">
                    <span>{{result.title+' '}} ({{result.release_date | slice:0:4}})</span><br>
                    <img height="10" width="10" src="https://www.pnglot.com/pngfile/detail/92-923556_free-icons-png-yellow-star-black-background.png">{{result.vote_average}}
                    <br><span class="mr-2">{{result.vote_count}} Voted</span>
                </div>
            </div>
        </div>
    </div>
</div>