<div class="container">
        <div class="row">
          <div class="col-8 ml-3"><input type="text" class="form-control" placeholder="Enter Keyword..." [(ngModel)]='query'><i class="fas fa-search"></i></div>

        <button (click)="sort('release_date')" class="btn btn-primary mr-3">Sort By Year</button>
        <button (click)="sort('title')" class="btn btn-primary">Sort Alphabetically</button>
        </div>  
</div>

<div class="container mt-5" *ngIf="!search_results">

        <h3>Upcoming Movies</h3><hr><br>
        <div class="card" style="box-shadow:0px 0px 5px grey; display: table-row;">
        <div *ngFor="let result of upcoming| name :query" style="float: left;">
            <div class="col-3 mt-5">
                <div class="card w-120">
                    <img height="122" width="122" src="{{image_url+result.poster_path}}">
                    <div class="m-3">
                        <span>{{result.title+' '}} ({{result.release_date | slice:0:4}})</span>
                        <br>
                        <i *ngIf="!bookmarkedTrue(result)" (click)="postBookmark(result)" class="material-icons icon-c">
                            turned_in_not
                            </i>

                        
                            <i *ngIf="bookmarkedTrue(result)" (click)="postBookmark(result)" class="material-icons icon-c" >
                                turned_in
                                </i>
                        <img height="10" width="10" src="https://www.pnglot.com/pngfile/detail/92-923556_free-icons-png-yellow-star-black-background.png">{{result.vote_average}}
                        <br><br><span class="mr-2">{{result.vote_count}} Voted</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>